<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         bootstrap="autoload.php"
         colors="true"
         backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="root" />
        <var name="DB_DBNAME" value="wirecli-test" />
    </php>

    <testsuites>
        <testsuite name="wire-cli Test Suite">
            <directory suffix=".php">Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>Tests</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
</phpunit>
